@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500;700&family=Koulen&family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Edu SA Beginner", "Roboto", "Helvetica", sans-serif;
    color: black;
    height: 100vh;
}

h1 {
    font-family: "Koulen", "Open Sans", "Helvetica", sans-serif;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.inner-container {
    /* border: 1px solid black; */
    width: 100%;
    padding: 2% 15px 3%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
    border-radius: calc(0.5 * 100px);
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-evenly;
}

.input-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(0, 92, 200);
    caret-color: rgb(0, 92, 200);
    font-family: "Edu SA Beginner", "Roboto", "Helvetica", sans-serif;
    width: 75%;
    font-weight: 700;
    padding: 10px 0 10px 15px;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 50px;
}

.input-text::placeholder {
    color: rgb(143, 143, 143);
}

.input-submit {
    text-transform: capitalize;
    cursor: pointer;
    margin-right: 10px;
    background: rgba(124, 124, 124, 0.904);
    border-radius: 12px;
    outline-offset: 4px;
    border: none;
    outline: none;
    height: 47px;
}

.input-submit:focus-visible {
    outline: revert;
}

.input-submit-front {
    display: block;
    padding: 11px 30px;
    border-radius: 12px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    transform: translateY(-6px);
    background: rgb(170, 170, 170);
    font-family: "Lato", "Roboto", "Helvetica", sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    will-change: transform;
    transform: translateY(-3px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.input-submit:active .input-submit-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.input-submit:hover .input-submit-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

